 * {
    margin: 0;
    padding: 0;
 }

 .parent {
    height: 100vh;
    border: 3px solid black;
    display: flex;
 }

 .leftbar {
    height: 100%;
    width: 25%;
    background-color:rgba(169, 169, 169, 0.986);
 }
 .rightbar {
    height: 100%;
    width: 75%;
    border: 3px solid purple;
    position: relative;
 }

 .nav {
    height: 80px;
    width: 100%;
    background-color: grey;
    padding-top: 0px;
 }

 .cover {
    height: 300px;
    width: 100%;
    background-color: blue ;
 }

 .box {
    height: 600px;
    width: 90%;
    border: 3px solid red;
    margin-left: 70px;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 270px;
 }

 .card1 {
    height: 100%;
    width: 25%;
    background-color:lightpink;
 }
 
 .card2 {
    height: 100%;
    width: 70%;
    border: 3px solid green;
 }
rgb(255, 0, 43)
 .img {
   height: 250px;
   width: 100%;
   /* background-color: blanchedalmond; */
 }

 .bill {
   height: 75%;
   width: 75%;
   border-radius: 50%;
   padding-left: 30px;
 }
 ul{
    padding-top: 120px;
    padding-left: 50px; 
}
.columnnav{
    display: flex;
    gap: 50px;
}
.person {
    height: 60px;
    width: 150px;
    background-color:white ;
    color: black;
}
li{
    list-style-type: none;
}
.resumeme {
    height: 60px;
    width: 150px;
    background-color:white ;
    color: black;
}
.rocket {
    height: 60px;
    width: 150px;
    background-color:white ;
    color: black;
}
.blog {
    height: 60px;
    width: 150px;
    background-color:white ;
    color: black;
}
.contectme {
    height: 60px;
    width: 150px;
    background-color:white ;
    color: black;
}
span{
    margin-left: 30px;
    font-size: xx-large
}
.endtext{
    height:255px;
    background-color: aquamarine;
    color: blue;
    /* padding-top: 50px; */
    padding-left: 10px;
    color: white;
    padding-top: 20%;
    
    
}
.lasttext{
    color: black;
    font-size: small;
    margin-top: 0;
}
.lstcolm {
    margin-bottom:auto;
    font-size: large;
}

